@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

}

.jira-label {
  padding: 0.2em 0.4em;
  margin: 0.3em 0.4em;
  background-color: #414141;
  color: white;
  font-size: 0.8em;
  font-weight: normal;
}
